<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.image_fetch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminVechileDetails"   android:parentActivityName=".AdminHomePage"></activity>
        <activity
            android:name=".AdminCustomerDetails"
            android:parentActivityName=".AdminHomePage" />
        <activity
            android:name=".Token"
            android:parentActivityName=".Vechicle" />
        <activity android:name=".Adminforgetpassword" />
        <activity
            android:name=".Vechicle"
            android:parentActivityName=".Home_Page" />
        <activity
            android:name=".Parkreg"
            android:parentActivityName=".Park" />
        <activity
            android:name=".Park"
            android:parentActivityName=".Modules" />
        <activity android:name=".ParkingOwnerHomePage" />
        <activity
            android:name=".AdminHomePage"
            android:parentActivityName=".AdminLogin" />
        <activity android:name=".ParkingOwnerForgetPassword" />
        <activity
            android:name=".AdminLogin"
            android:parentActivityName=".Modules" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".Modules" />
        <activity
            android:name=".Reset_Password"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Home_Page"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Login"
            android:parentActivityName=".Modules" />
        <activity
            android:name=".Modules"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>